*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    width: 100%;
    background-color: rgb(92, 76, 24);
}
.wrapper-div{
    width: 85%;
    background-color: rgb(153, 126, 36);
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}
.navJumbo{
    min-height: 100vh;
    min-width: 100%;
    background-image: url(image/sitemapEdit.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: md 30s infinite ease-in-out;
}
@keyframes md{
    25%{
        background-image: url(image/sitemapEdit.png);
    }
    50%{
        background-image: url(image/sitemap.png);
    }
}
.mynavJumbo{
    display: flex;
    justify-content: space-around;
    
}
.mynavJumbo ul{
    background-color: bisque;
    align-items: right;
    margin-left: 300px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 6px;
}
.mynavJumbo a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    padding: 10px;
    margin: auto;
    font-size: 18px;
    border-radius: 5px;
}
.mynavJumbo a:hover{
    background-color: chartreuse;
    color: #ffffff;
}
.img1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img1 img{
    width: 33%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    max-height: 250px;
}
.headerJumbo{
    align-self: center;
    color: #ffffff;
    margin: auto;
}
.headerJumbo h1{
    font-size: 20px;
    padding: 10px;
    margin-left: 400px;
    
}






/* assessBackend.html */
table{
    background-color: bisque;
    color: black;
    font-size: 16px;
    border-radius: 6px;
    border-style: double;
    border-color: chartreuse;
    border-width: 3px;
    padding: 15px;
    
}
.show{
    background-color: black;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    align-self: center;
    align-content: center;
    justify-content: center;
    border-radius: 4px;
}
.show:hover{
    background-color: #ffffff;
    color: black;
    padding: 20px;
}